#cso-banner {
  height: 70vh;
  position: relative;
}


#button-photos {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.offer-container {
  padding: 2em 20em 1em 20em;
} h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
