<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,89,249,0.6) 0%, rgba(61,33,60,0.5) 50%), url(<%= cl_image_path('xmsgxh8wzmqo2vexomos', width: 700, height: 1000) %>)">
<div class="form-container">
<h1>Edit your profile</h1>
<%= render 'form' %>
</div>
</div>
