<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard</h1>
    </div>
  </div>
  <p>This is where you find everything about a customer =)</p>

  <p>Dashboard avec bookings, offres, photo</p>

  <div class="row">
    <div class = "col-xs-12 col-md-4" id = "dashboard-category" id = "dashboard-category">
      <img src="http://lorempixel.com/output/nature-q-c-400-400-5.jpg" class="avatar-dashboard">
    </div>
    <div class = "col-xs-12 col-md-8" id = "dashboard-category" id = "dashboard-category">
      <h2>Tableau de bord de <%= @customer.name %></h2>
      <p><%= @customer.email %></p>
    </div>
  </div>
  <div class="row">
    <div class = "col-xs-12 col-md-6" id = "dashboard-category" id = "dashboard-category">
      <h2>My bookings</h2>
    </div>
    <div class = "col-xs-12 col-md-6" id = "dashboard-category" id = "dashboard-category">
      <h2>My offers</h2>
    </div>
  </div>
</div>
