<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard</h1>
    </div>
  </div>
  <p>This is where you find everything about a customer =)</p>

  <p>Dashboard avec bookings, offres, photo</p>

  <div class = "col-xs-12 col-md-4">
    <h2>This is my profile picture</h2>
  </div>
  <div class = "col-xs-12 col-md-8">
    <h2>This is me, my life, <br />my passion, very profile</h2>
  </div>
  <div class = "col-xs-12 col-md-6">
    <h2>My bookings</h2>
  </div>
  <div class = "col-xs-12 col-md-6">
    <h2>My offers</h2>
  </div>
</div>
