<div class="banner" style="background-image: linear-gradient(-225deg, rgba(150,0,0,0.2) 0%, rgba(200,100,0,0.4) 50%), url(<%= cl_image_path('ManekiHorizontal_vuxvoi', width: 700, height: 1000) %>)">
  <div class="banner-content">
    <h1>Easyc@t</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-home">
          <p>Find the best cat-sitter</p>
          <%= link_to 'Look at our faboulus catsitters!', cat_sitting_offers_path, {class: "btn btn-info btn-lg"} %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="card-home">
          <p>Love cats?</p>
          <%= link_to 'Become a CatSitter!', new_cat_sitting_offer_path, {class: "btn btn-info btn-lg"} %>
        </div>
      </div>
    </div>
  </div>
</div>

