.btn-large {
  background-color: $pink;
  color: white;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.btn-large:hover {
  background-color: #ffb7ea;
  color: white;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  background-color: $pink;
  color:white;
  border-radius:10px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.button:hover {
  background-color: #ffb7ea;
  color:white;
  border-radius:10px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.button-sml {
  background-color: #ff82db;
  color:white;
  border-radius:8px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}
.button-sml:hover {
  background-color: #ffb7ea;
  color:white;
  border-radius:8px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}
