@import "alert";
@import "avatars";
@import "badges";

#dashboard-category {
  padding: 5px;
  border-radius: 5px;
}

#dashboard-category:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #F3F3F3;
}
