@import "alerts";
@import "avatars";
@import "badges";
@import "cards";
@import "banner";
@import "buttons";
@import "forms";
@import "dashboard";
@import "tabs";
@import "profile_header";

.devise-links a {
  text-decoration:none;
  color:white;
}

.devise-links a:hover {
  text-decoration:none;
  color: $pink;
}

.text-title {
  text-align: center;
}
