.tabs {
  display: flex;
  padding: 10px 100px 0 100px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: $purple;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
}
.tab.active {
  background: white;
  color: black;
}
.tab-content {
  padding-top: 20px;
}
.tab-content p {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
}

.booking {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  background: #D1D1D1;
}

.booking:hover {
  background: #F6F6F6;
  padding: 0px 20px 0px 20px;
}
